@font-face {
  font-family: "iconfont"; /* Project id 4492982 */
  src: url('iconfont.woff2?t=1749218851345') format('woff2'),
       url('iconfont.woff?t=1749218851345') format('woff'),
       url('iconfont.ttf?t=1749218851345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more-:before {
  content: "\e621";
}

.icon-a-send-on1x:before {
  content: "\e871";
}

.icon-el-icon-s-edit-send:before {
  content: "\eb57";
}

.icon-moon:before {
  content: "\e68f";
}

.icon-sun:before {
  content: "\e7c5";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-mima:before {
  content: "\e606";
}

.icon-github:before {
  content: "\e66f";
}

.icon-gitee:before {
  content: "\e603";
}

.icon-qunzu1:before {
  content: "\e6d4";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-xiaoxi:before {
  content: "\e605";
}

.icon-baocun_o:before {
  content: "\eb47";
}

.icon-yunxiazai_o:before {
  content: "\ebb4";
}

.icon-yincang:before {
  content: "\e661";
}

.icon-htmlbianjiqi:before {
  content: "\e634";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-xinzeng:before {
  content: "\e622";
}

.icon-weibiaoti1:before {
  content: "\e60b";
}

.icon-31shezhi:before {
  content: "\e601";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-addNew:before {
  content: "\e672";
}

.icon-qunzu:before {
  content: "\e600";
}

.icon-wodehaoyou:before {
  content: "\e671";
}

.icon-haoyou:before {
  content: "\e667";
}

.icon-jiantoushang:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-tianjiahaoyou:before {
  content: "\e64f";
}

.icon-jiantouxia:before {
  content: "\e61c";
}

