* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body,
#app {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}

.clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(var(--lines) * 1.5em); /* 计算最大高度 */
  -webkit-line-clamp: var(--lines); /* 动态设置行数 */
  white-space: normal; /*这个属性设置文本如何在容器内换行。normal 会根据容器宽度自动换行。*/
  word-wrap: break-word; /*允许长单词在需要时换行。*/
}


/* 1. Webkit 浏览器样式 (Chrome、Edge、Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: transparent; /* 滚动条轨道背景 */
}

// /* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 8px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

// /* 2. Firefox 浏览器样式 */
* {
  scrollbar-width: thin;              /* 滚动条宽度：thin、auto、none */
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}
