.layout-wrapper {
  min-height: 100vh;
  background: var(--color-surface);
  display: flex;
  flex-direction: column;
  .layout-header{
    width: 100%;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    padding: 0 20px;
    
  }
  
  .layout-content {
    flex: 1;
    padding: 24px;
    background-color: #fff;
    overflow-y: auto;
  }
  
  .layout-footer {
    background-color: var(--color-primary-hover);
    color: var(--color-text);
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
  }
}

