$padding:0 20px;
$header-height: 60px;
$tabs-height: 50px;
$footer-height: 40px;
.layout-wrapper {
  min-height: 100vh;
  background: var(--color-surface);
  display: flex;
  flex-direction: column;
  .layout-header{
    width: 100%;
    height: $header-height;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    .header{
      .ant-menu{
        background-color: transparent;
        line-height: $header-height;
      }
    }
  }
  // header,tabs,content 边距,便于对齐
  .layout-header,.layout-tabs-wrapper,.layout-content{
    padding: $padding;
  }
  // tabs  样式
  .layout-tabs-wrapper {
    height: $tabs-height;
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    align-items: center;
    .layout-tab-pane{
      padding: 5px 10px;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      @mixin ActiveHover{
        color: var(--color-secondary);
        border-color: var(--color-secondary);
      }
      &.active{
        @include ActiveHover;
      }
      &:hover{
        cursor: pointer;
        @include ActiveHover;
      }
      .title{
        margin: 0 5px;
      }
      .icon-close{
        font-size: inherit;
        transition: all 0.3s;
        border-radius: 50%;
        &:hover{
          background-color: red;
          transform: scale(1.1);
        }
      }
      &:first-child{
        margin-left: 0px;
      }
    }
  }
  // 内容区域样式
  .layout-content {
    $padding-y:20px;
    flex: 1;
    position: relative;
    background-color: #f6f8f9;
    overflow-y: auto;
    padding-top: $padding-y;
    padding-bottom: $padding-y;
    &-wrapper{
      background-color: transparent;
      height: calc(100vh - #{$header-height} - #{$footer-height} - #{$tabs-height} - $padding-y * 2);
    }
  }
  // 底部
  .layout-footer {
    height: $footer-height;
    background-color: var(--color-primary-hover);
    color: var(--color-text);
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
  }
}


@mixin menu-theme-color($color) {
  .ant-menu {
    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
      span {
        color: $color;
      }
      &::after {
        border-color: $color !important;
      }
    }

    .ant-menu-item-active,
    .ant-menu-submenu-active {
      &::after {
        border-color: $color !important;
      }
    }
  }
}

@include menu-theme-color(var(--color-text));