@font-face {
  font-family: "iconfont"; /* Project id 4492982 */
  src: url('iconfont.woff2?t=1750564310680') format('woff2'),
       url('iconfont.woff?t=1750564310680') format('woff'),
       url('iconfont.ttf?t=1750564310680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-full-screen-cancel:before {
  content: "\e7bc";
}

.icon-full-screen-one:before {
  content: "\eaa1";
}

.icon-guanbi:before {
  content: "\ed10";
}

.icon-icon-test2:before {
  content: "\e673";
}

.icon-touxiangnvhai:before {
  content: "\e6df";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-touxiang:before {
  content: "\e662";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-duoyuyan:before {
  content: "\e654";
}

.icon-tixing:before {
  content: "\e6cc";
}

.icon-gongju:before {
  content: "\e608";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-tubiaoku:before {
  content: "\e690";
}

.icon-renwujincheng:before {
  content: "\ec35";
}

.icon-xieboke:before {
  content: "\e624";
}

.icon-quanxianliebiao:before {
  content: "\e609";
}

.icon-zidian:before {
  content: "\e6ea";
}

.icon-yuyan:before {
  content: "\e8c7";
}

.icon-shuaxin:before {
  content: "\e65a";
}

.icon-bianji1:before {
  content: "\e6e8";
}

.icon-bianji2:before {
  content: "\e635";
}

.icon-jiaoseguanli:before {
  content: "\e648";
}

.icon-yonghuguanli:before {
  content: "\e602";
}

.icon-caidanguanli:before {
  content: "\e613";
}

.icon-svg-:before {
  content: "\e627";
}

.icon-boke:before {
  content: "\e9f6";
}

.icon-xitongguanli:before {
  content: "\e623";
}

.icon-tuichu:before {
  content: "\e651";
}

.icon-denglu:before {
  content: "\e6bd";
}

.icon-caidanguanli1:before {
  content: "\e66e";
}

.icon-close:before {
  content: "\e676";
}

.icon-el-icon-s-edit-send:before {
  content: "\eb57";
}

.icon-moon:before {
  content: "\e68f";
}

.icon-sun:before {
  content: "\e7c5";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-mima:before {
  content: "\e606";
}

.icon-github:before {
  content: "\e66f";
}

.icon-gitee:before {
  content: "\e603";
}

.icon-qunzu1:before {
  content: "\e6d4";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-xiaoxi:before {
  content: "\e605";
}

.icon-baocun_o:before {
  content: "\eb47";
}

.icon-yunxiazai_o:before {
  content: "\ebb4";
}

.icon-yincang:before {
  content: "\e661";
}

.icon-htmlbianjiqi:before {
  content: "\e634";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-xinzeng:before {
  content: "\e622";
}

.icon-weibiaoti1:before {
  content: "\e60b";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-addNew:before {
  content: "\e672";
}

.icon-qunzu:before {
  content: "\e600";
}

.icon-wodehaoyou:before {
  content: "\e671";
}

.icon-haoyou:before {
  content: "\e667";
}

.icon-jiantoushang:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-tianjiahaoyou:before {
  content: "\e64f";
}

.icon-jiantouxia:before {
  content: "\e61c";
}

